.navbar .active {
  color: #407b2a !important;
}
nav a.nav-link {
  position: relative;
}
nav a.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  right: 8px;
  bottom: 0;
  background-color: #6AC14A;
  transition: width .5s ,right .5s;
}
nav a.nav-link:hover::before {
  width: calc(100% - 16px);
  left: 8px;
  transition: width .5s ,left .5s;
}
.i-mark {
  padding-left: 10px;
  border-left: 24px solid #6AC14A;
  border-bottom: 1px solid #6AC14A;
  font-weight: bold;
}
.btn-theme {
  color: #fff;
  background: #6AC14A;
}
.btn-theme:hover {
  color: #fff;
  background-color: #407b2a;
}
.i-hmark {
  position: relative;
}
.i-hmark::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 300px;
  left: calc(50% - 150px);
  border-top: solid 1px #000;
}
.i-icon {
  font-size: 60px;
  color: #4d4d4d;
}
