.navbar .active {
  color: #407b2a !important;
}
nav a.nav-link {
  position: relative;
}
nav a.nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  right: 8px;
  bottom: 0;
  background-color: #6AC14A;
  transition: width .5s ,right .5s;
}
nav a.nav-link:hover::before {
  width: calc(100% - 16px);
  left: 8px;
  transition: width .5s ,left .5s;
}
.i-mark {
  padding-left: 10px;
  border-left: 24px solid #6AC14A;
  border-bottom: 1px solid #6AC14A;
  font-weight: bold;
}
.btn-theme {
  color: #fff;
  background: #6AC14A;
}
.btn-theme:hover {
  color: #fff;
  background-color: #407b2a;
}
.i-hmark {
  position: relative;
}
.i-hmark::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 300px;
  left: calc(50% - 150px);
  border-top: solid 1px #000;
}
.i-icon {
  font-size: 60px;
  color: #4d4d4d;
}
.content img {
  max-width: 100%;
  height: auto;
}
.hr {
  height: 1px;
  width: 100%;
  display: block;
  position: relative;
}
.hr::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.hr-25::before {
  width: 25%;
  left: 37.5%;
}
.hr-50::before {
  width: 50%;
  left: 25%;
}
.hr-75::before {
  width: 75%;
  left: 12.5%;
}
.hr-100::before {
  width: 100%;
  left: 50%;
}
.Hlist {
  width: 100%;
  display: block;
}
.Hlist .header {
  padding-left: 5px;
  position: relative;
  border-bottom: 2px solid #6AC14A;
}
.Hlist .header::before {
  content: '';
  position: absolute;
  width: calc(100% - 50px);
  bottom: -2px;
  right: 0;
  border-bottom: 2px solid #6c757d;
}
.Hlist .body a {
  padding: 5px 5px;
  display: block;
  color: #6c757d;
}
.link-reset {
  color: #6c757d;
}
