@color-theme:#6AC14A;
.navbar .active
{
    color: darken(@color-theme,20%) !important;
}
nav a.nav-link
{
    position: relative;
    &::before
    {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        right: 8px;
        bottom: 0;
        background-color: @color-theme;
        transition: width .5s ,right .5s;
    }
    &:hover::before
    {
        width: calc(~'100% - 16px');
        left: 8px;
        transition: width .5s ,left .5s;
    }
}
.i-mark
{
    padding-left: 10px;
    border-left: 24px solid @color-theme;
    border-bottom: 1px solid @color-theme;
    font-weight: bold;
}
.btn-theme
{
    color: #fff;
    background: @color-theme;
    &:hover
    {
        color: #fff;
        background-color: darken(@color-theme,20%);
    }
}