<!doctype html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {css file="/static/css/bootstrap.min.css,/static/css/common.css"/}
    <title>后台登录</title>
</head>

<body>
    <div class="container">
        <form action="" class="w-50 my-3">
            {:token()}
            <!-- <input type="hidden" name="token" value="{$Request.token}"> -->
            <div class="form-group">
                <small>用户名</small>
                <input type="text" class="form-control" name="name" value="{$Think.session.form.name}">
            </div>
            <div class="form-group">
                <small>密码</small>
                <input type="password" class="form-control" name="password" value="{$Think.session.form.password}">
            </div>
            <div class="form-group">
                <small>验证码</small>
                <div class="input-group">
                    <input type="text" class="form-control" name="captcha">
                    <span class="input-group-append">
                        <img src="{:url('login_code')}" id="code">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <a href="{:url('login')}" class="btn btn-sm btn-outline-dark" id="send">登录</a>
            </div>
        </form>
    </div>
    <footer class="w-100 mt-3">
        <div class="text-center">
            <p class="text-muted text-small">古都企业网站系统 version:{$APP.version} .Develop Mark:{$APP.devMark}</p>
            <p class="text-muted text-small">
                <a href="https://github.com/ChenZhongJin/web" class="text-muted">GitHub 分支dev_s</a>
            </p>
        </div>
    </footer>
    {js file="/static/js/jquery.min.js"/} {js file="/static/js/bootstrap.bundle.min.js"/} {js file="/static/js/bundle.js"/}
    <script>
        (function () {
            document.querySelector('a#send').addEventListener('click', function (event) {
                event.preventDefault();
                var data = jQuery('form').serialize();
                ajax(event.target.href, data);
            });
            document.querySelector('img#code').addEventListener('click', function (e) {
                var url = "{:url('login_code')}";
                this.setAttribute('src', url + '?' + Date.now());
            })
        })()
    </script>
</body>

</html>