<!doctype html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {css file="/theme/fullsolar/css/bootstrap.min.css,/theme/fullsolar/css/common.css"/}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>{block name="title"}{/block}</title>
    <meta name="keywords" content="{block name="keywords"}{/block}">
    <meta name="description" content="{block name="description"}{/block}">
</head>

<body>
    {include file="nav"/}
    {block name="warp"}{/block}
    {js file="/theme/fullsolar/js/jquery.slim.min.js"/}
    {js file="/theme/fullsolar/js/bootstrap.bundle.min.js"/}
    {js file="/theme/fullsolar/js/common.js"/}
    {include file="footer"/}
    {block name="warpJS"}{/block}
</body>
</html>