<!doctype html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {css file="/theme/default/css/bootstrap.min.css,/theme/default/css/common.css"/}
    <title>{block name="title"}{$page.title|default=""}{/block}</title>
    <meta name="keywords" content="{block name='keywords'}{$page.keywords|default=''}{/block}">
    <meta name="description" content="{block name='description'}{$page.description|default=''}{/block}">
</head>

<body>
    {include file="nav"/}
    {block name="warp"}{/block}
    {js file="/theme/default/js/jquery.slim.min.js"/}
    {js file="/theme/default/js/bootstrap.bundle.min.js"/}
    {js file="/theme/default/js/common.js"/}
    {include file="footer"/}
    {block name="warpJS"}{/block}
</body>
</html>