{extend name="layout"}
{block name="warp"}
<div class="container">
    <div class="row">
        <form id="theme" class="w-100 my-3" style="height: 500px;">
            <textarea name="content" id="content" class="form-control h-100">{$content}</textarea>
            {if $dirName}
            <a href="{:url('_theme_save',['themeName'=>$themeName,'dirName'=>$dirName,'fileName'=>$fileName])}" class="btn btn-sm btn-dark rounded-0" id="send">保存</a>
            {else /}
            <a href="{:url('_theme_save_root',['themeName'=>$themeName,'fileName'=>$fileName])}" class="btn btn-sm btn-dark rounded-0 my-3" id="send">保存</a>
            {/if}
        </form>
    </div>
</div>
{/block}
{block name="warpJS"}
<script>
    (function(){
        var nodeForm = document.querySelector('form#theme');
        nodeForm.querySelector('a#send').addEventListener('click',function(event){
            event.preventDefault();
            var data = jQuery(nodeForm).serialize();
            ajax(event.target.href,data);
        })
    })()
</script>
{/block}