{extend name="layout"/} {block name="warp"}
<div class="container my-3">
    <div class="row">
        {foreach $list as $themeName=>$themeInfo}
        <div class="col-4">
            <img src="{$themeInfo.preview}" class="figure-img" alt="{$themeInfo.name}">
            <h4><code>{$themeInfo.name}</code></h4>
            <p>
                <a href="{:url('_themeList',['themeName'=>$themeName])}" class="btn btn-sm btn-dark rounded-0" id="themeEdit">编辑</a>
                {if $active == $themeName}{else/}
                <a href="{:url('_theme_active',['themeName'=>$themeName])}" class="btn btn-sm btn-primary rounded-0" id="themeActive">激活</a>
                {/if}
            </p>
        </div>
        {/foreach}
    </div>
</div>
{/block} {block name="warpJS"}
<script>
(function(){
    var btn = document.querySelector('a#themeActive');
    btn.addEventListener('click',function(event){
        event.preventDefault();
        ajax(event.target.href,null);
    })
})()
</script> {/block}