{extend name="layout"} {block name="warp"}
<div class="container">
    <form action="" class="w-50 my-3">
        <input type="hidden" name="token" value="{$Request.token}">
        <div class="form-group">
            <small>用户名</small>
            <input type="text" class="form-control" name="name" value="{$Think.session.form.name}">
        </div>
        <div class="form-group">
            <small>密码</small>
            <input type="password" class="form-control" name="password" value="{$Think.session.form.password}">
        </div>
        <div class="form-group">
            <small>验证码</small>
            <div class="input-group">
                <input type="text" class="form-control" name="captcha">
                <span class="input-group-append">
                    <img src="{:url('login_code')}" id="code">
                </span>
            </div>
        </div>
        <div class="form-group">
            <a href="{:url('login')}" class="btn btn-sm btn-outline-dark" id="send">登录</a>
        </div>
    </form>
</div>
{/block} {block name="warpJS"}
<script>
    (function () {
        document.querySelector('a#send').addEventListener('click', function (event) {
            event.preventDefault();
            var data = jQuery('form').serialize();
            ajax(event.target.href, data);
        });
        document.querySelector('img#code').addEventListener('click', function (e) {
            var url = "{:url('login_code')}";
            this.setAttribute('src', url + '?' + Date.now());
        })
    })()
</script> {/block}