<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    (function () {
        tinymce.init({
            selector: 'textarea#edit',
            height: 300,
            menubar: false,
            plugins: [
            'advlist autolink lists link image charmap print preview anchor textcolor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | code | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            language: 'zh_CN',
            relative_urls: false,
            image_dimensions: false,
            images_upload_url: '{:url("_unity_upimg")}',
        });
    })()
</script>