<footer class="w-100 mt-3">
    <div class="text-center">
        <p class="text-muted text-small">古都企业网站系统 version:{$APP.version} .Develop Mark:{$APP.devMark}</p>
        <p class="text-muted text-small">
            <a href="https://github.com/ChenZhongJin/web" class="text-muted">GitHub 分支dev_s</a>
        </p>
    </div>
</footer>
{if $Think.session.user}
<script>
    (function () {
        document.querySelector('a#logout').addEventListener('click', function (event) { event.preventDefault(); ajax(event.target.href) })
    })()
</script> {/if}