{if $Think.session.user}
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="{:url('_console')}">站点</a>
        <a class="nav-item nav-link" href="{:url('_article')}">文章</a>
        <a class="nav-item nav-link" href="{:url('_productListImg')}">产品</a>
        <a class="nav-item nav-link" href="{:url('_category')}">栏目</a>
        <a class="nav-item nav-link" href="{:url('_theme')}">主题</a>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">杂项</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{:url('_task')}">采集任务</a>
            </div>
        </li>
    </ul>
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="{:url('logout')}" id="logout">{$Think.session.user.name}</a>
    </div>
</nav>
{/if}