{extend name="layout"} {block name="warp"}
<div class="container pt-3">
    <div class="row">
        <div class="col-12">
            <a href="{:url('_taskCollect')}" class="btn btn-dark btn-sm rounded-0">新增任务</a>
            <table class="table" id="collect">
                <thead>
                    <tr>
                        <th>任务描述</th>
                        <th>列表页地址</th>
                        <th>列表页规则</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $list as $item}
                    <tr>
                        <td>
                            <a href="{:url('_taskCollect',['id'=>$item.id])}" class="text-muted">{$item.name}</a>
                        </td>
                        <td>{$item.link}</td>
                        <td>{$item.xpath_list}</td>
                        <td>
                            <a href="{:url('_task_collect_del',['id'=>$item.id])}" class="btn btn-danger btn-sm rounded-0" id="del">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <p class="text-small text-muted">
                <code>XPath</code> 默认情况下每次执行采集任务，会从
                <code>列表页</code>中取出前5条内页链接，对内页采集前，会对这5条链接过滤，以保证
                <code>不会重复采集。</code>
            </p>
        </div>
        <div class="col-6">
            <form id="collect">
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group">
                    <small>保存到栏目</small>
                    <select name="category_id" class="form-control">
                        {foreach $categorys as $category}
                        <option value="{$category.id}">{$category.cname}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="form-group">
                    <small>任务描述</small>
                    <input type="text" name="name" class="form-control" value="{$data.name}">
                </div>
                <div class="form-group">
                    <small>列表页地址</small>
                    <input type="text" name="link" class="form-control" value="{$data.link}">
                </div>
                <div class="form-group">
                    <small>提取内页链接规则
                    </small>
                    <input type="text" name="xpath_list" class="form-control" value="{$data.xpath_list}">
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <small>标题规则</small>
                            <input type="text" name="xpath_title" class="form-control" value="{$data.xpath_title}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <small>标题替换规则</small>
                            <input type="text" name="replace_title" class="form-control" value="{$data.replace_title}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <small>内容主区块规则</small>
                            <input type="text" name="xpath_major" class="form-control" value="{$data.xpath_major}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <small>内容主区块替换规则</small>
                            <input type="text" name="replace_major" class="form-control" value="{$data.replace_major}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <small>内容次区块规则</small>
                            <input type="text" name="xpath_minor" class="form-control" value="{$data.xpath_minor}">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <small>内容次区块替换规则</small>
                            <input type="text" name="replace_minor" class="form-control" value="{$data.replace_minor}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {if $data.id}
                    <a href="{:url('_task_collect_update',['id'=>$data.id])}" id="send" class="btn btn-dark btn-sm rounded-0">更新</a>
                    {else/}
                    <a href="{:url('_task_collect_add')}" id="send" class="btn btn-dark btn-sm rounded-0">新增</a>
                    {/if}
                    <a href="{:url('_task_collect_test')}" class="btn btn-danger btn-sm rounded-0" id="test">测试</a>
                </div>
            </form>
        </div>
        <div class="col-6 collect-preview"></div>
    </div>
</div>
{/block} {block name="warpJS"}
<script>
    (function () {
        var fm = document.querySelector('form#collect');
        fm.querySelector('a#send').addEventListener('click', function (event) {
            event.preventDefault();
            var data = jQuery(fm).serialize();
            ajax(event.target.href, data);
        });
        fm.querySelector('a#test').addEventListener('click', function (event) {
            event.preventDefault();
            var ipt = fm.querySelector('input[name=list_reg]');
            var data = jQuery(fm).serialize();
            $.post(event.target.href, data, function (response) {
                var preview = $('div.collect-preview');
                preview.html(response);
            });
        });
        var tb = document.querySelector('table#collect');
        tb.querySelectorAll('a#del').forEach(function (element) {
            element.addEventListener('click', function (event) {
                event.preventDefault();
                ajax(event.target.href);
            })
        })
    })()
</script> {/block}