{extend name="layout"/} {block name="warp"}
<div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/theme/fullsolar/as_93.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-3">
            <h6>Product</h6>
            <div class="dropdown-divider"></div>
        </div>
        {foreach $products->where(['category_id'=>23])->limit(4)->select() as $item}
        <div class="col-5 offset-1 pt-3">
            <img src="{$item.pic['src']}" class="img-fluid" alt="{$item.pic['alt']}">
        </div>
        <div class="col-5 pt-3 position-relative">
            <p class="i-mark">{$item.category.cname}_{$item.name}</p>
            <div class="position-absolute" style="bottom: 0;">{$item.trait|raw}
                <a href="{$item.url}" class="btn btn-theme rounded-0">More</a>
            </div>
        </div>
        {/foreach} {foreach $products->where(['category_id'=>23])->limit(4)->select() as $item}
        <div class="col-5 offset-1 pt-3">
            <img src="{$item.pic['src']}" class="img-fluid" alt="{$item.pic['alt']}">
        </div>
        <div class="col-5 pt-3 position-relative">
            <p class="i-mark">{$item.category.cname}_{$item.name}</p>
            <div class="position-absolute" style="bottom: 0;">{$item.trait|raw}
                <a href="{$item.url}" class="btn btn-theme rounded-0">More</a>
            </div>
        </div>
        {/foreach}
        <div class="col-12 mt-5 mb-3">
            <h6>Event <span class="text-danger">Made In China 2025</span></h6>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-4 offset-1">
            <p>紧急通知！国家能源局：各地电网不得以项目未纳入国补范围为由擅自停止补贴垫付</p>
            <p>紧急通知！国家能源局：各地电网不得以项目未纳入国补范围为由擅自停止补贴垫付</p>
            <p>紧急通知！国家能源局：各地电网不得以项目未纳入国补范围为由擅自停止补贴垫付</p>
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/es-1.jpg" class="img-fluid" alt="">
            <p>河北正式印发《全省分布式光伏发电建设指导意见（试行）》 </p>
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/es-2.jpg" class="img-fluid" alt="">
            <p>紧急通知！国家能源局：各地电网不得以项目未纳入国补范围为由擅自停止补贴垫付</p>
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/es-2.jpg" class="img-fluid" alt="">
            <p>紧急通知！国家能源局：各地电网不得以项目未纳入国补范围为由擅自停止补贴垫付</p>
        </div>
        
        <div class="col-12 mt-5 mb-3">
            <h6>UNION</h6>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-2 offset-1">
            <img src="/theme/fullsolar/logo.png" alt="">
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/logo_inverse.png" alt="">
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/logo.png" alt="">
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/logo_inverse.png" alt="">
        </div>
        <div class="col-2">
            <img src="/theme/fullsolar/logo.png" alt="">
        </div>
    </div>
</div>
{/block}